div
  #example-component 
  div
    h2 {{$t ("home.UserRegister")}}

    form(@submit.prevent="addUser" v-if='registration == false')
      p(v-if="errors.length")
        b {{$t ("reviseErrors")}}
        ul
          li(v-for="error in errors") {{error}}
      p
        label(for="name") {{$t ("name")}} 
        input(type="text" name="name" id="name" v-model="name" v-bind:class="{ 'error': errorsVar.name}")
      p
        label(for="email") {{$t ("email")}} 
        input(type="text" name="email" id="email" v-model="email" v-bind:class="{ 'error': errorsVar.email}")
      p
        label(for="password") {{$t ("password")}} 
        input(type="password" name="password" id="password" v-model="password" v-bind:class="{ 'error': errorsVar.password}")
      p
        label(for="password_confirmation") {{$t ("passwordConfirm")}}
        input(type="password" name="password_confirmation" id="password_confirmation" v-model="password_confirmation" v-bind:class="{ 'error': errorsVar.password_confirmation}")
      p
        input(type="submit" name="save_button" v-html="$t('send')")

    p(v-else='registration == true') {{$t ("home.registerCorrect")}}
      <router-link to="/login"> {{$t ("login")}}</router-link>