
div
  div.header
    a.logo {{$t ("applicationStartTitle")}}
    a.endlogo {{$t ("applicationEndTitle")}}
  div.menu
    div.menu-right
      router-link(v-if="route.name == 'login'" :to="{name: 'register'}") {{$t ("register")}}
      router-link(v-if="route.name == 'register'" :to="{name: 'login'}") {{$t ("login")}}
  router-view
