div
  div.header
    a.logo {{$t ("applicationStartTitle")}}
    a.endlogo {{$t ("applicationEndTitle")}}
  div.menu
    div.menu-left
      router-link(:to="{ name: 'list'}") {{$t ("lists")}}
    div.menu-right
      div.dropdown
        button.dropbtn {{users.userName}}
        div.dropdown-content
          router-link(:to="{ name: 'profile'}") {{$t ("profile.profile")}}
          a(v-on:click="loginOut()") {{$t ("loginOut")}}
  
  router-view
