div
  div.header
    a.logo {{$t ("applicationTitle")}}
    div.header-right
      router-link(:to="{ name: 'list'}") {{$t ("lists")}}
      router-link(:to="{ name: 'profile'}") {{users.userName}}
      a(v-on:click="loginOut()") {{$t ("loginOut")}}
  
  router-view
