@charset 'UTF-8';

* {
  box-sizing: border-box;
}

.error {
  border: 2px solid red;
}

button {
  background-color: #ffffffa8;
  border-color: #426cb9;
  border-radius: 8px; 
  color: #426cb9;
}

button:hover{
  background-color: #426cb9;
  color: #ffffffa8;
}

table {
  background-color: #fff;
  width: 100%;
}

th {
  background-color: #426cb9;
  color: #ffffffa8;
}

td {
  background-color: #f9f9f9;
}

th, td {
  padding: 10px 20px;
}

[v-cloak] {
    display:none;
  }
  .edit {
    display:none;
  }
  .editing .edit {
    display: block;
  }
  .editing .view {
    display:none;
  }




.header {
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 35px;
  font-weight: bold;
}

.header-right a:hover {
  background-color: #426cb9;
  color: #f9f9f9;
}

.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}





