@charset 'UTF-8';

// Brand colors
$blue-dark: #101e5a ;
$blue-middle: #426cb9;
$blue-fair: #acbdd3;
$grey: #f9f9f9;
$grey-dark: #cbc6c3;

* {
  box-sizing: border-box;
}

.confirm {
  color: $blue-middle;
  float: center;
  width: max-content;
}
.error {
  border: 2px solid red;
}

button {
  background-color: $grey;
  border-color: $blue-middle;
  border-radius: 8px; 
  color: $blue-middle;
}

button:hover{
  background-color: $blue-middle;
  color: $grey;
}

table {
  background-color: $grey;
  width: 100%;
}

th {
  background-color: $blue-middle;
  color: $grey;
}

td {
  background-color: $grey;
}

th, td {
  padding: 10px 20px;
}

[v-cloak] {
    display:none;
  }
  .edit {
    display:none;
  }
  .editing .edit {
    display: block;
  }
  .editing .view {
    display:none;
  }

/*Pagination*/
.pagination-size{
  float: right;
}

.pagination-number{
  float: center;
  padding: 0px 20px;
}

.pagination-selected{
  color: $blue-middle;
}

/* Header */
.header {
  overflow: hidden;
  background-color: $grey;
  padding: 20px 10px;
}

.header a.logo {
  font-size: 35px;
  font-weight: bold;
  color: $blue-dark;
}
.header a.endlogo {
  font-size: 35px;
  font-weight: bold;
  color: $blue-middle;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

//*************
//*    Menu   *
//*************
.menu {
  overflow: hidden;
  background-color: $blue-dark;
  color: $grey;
}
.menu a {
  float: left;
  color: $grey;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.menu a:hover{
  background-color: $blue-middle;
  color: $grey;
}

.menu-right {
  float: right;
  padding-right: 5%;
}
.menu-left {
  float: left;
}


// Dropdown
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: $grey;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content a:hover{
  background-color: $blue-middle;
  color: $grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $blue-fair;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: $blue-dark;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}