div
  h2 En proceso de creación

  form(@submit.prevent="addList")
    p(v-if="errors.length")
      b {{$t ("reviseErrors")}}
      ul
        li(v-for="error in errors") {{error}}
    p
      label(for="title") {{$t ("title")}}
      input(type="text" name="title" id="title" v-model="title"  v-bind:class="{ 'error': errorsVar.titleHasError}")
    p
      label(for="description") {{$t ("description")}}  
      input(type="text" name="description" id="description" v-model="description"  v-bind:class="{ 'error': errorsVar.descriptionHasError}")
    p
      input(type="submit" name="save_button" v-html="$t('send')")