div
  h2 {{list.title}}
  p {{list.description}}

  table
    tr
      th
      th {{$t ("item")}}
      th {{$t ("price")}}
  
    tr(v-for='item in items' :class="{editing: item == editItem}" v-cloak)
      td
        template(v-if='item.votes[0]')
          img(v-on:click="deleteVote(item.id, item.votes)" v-if="myVote(item.votes) == true" src=require('assets/images/star.png') width="20")
          img(v-on:click="addVote(item.id)" v-else src=require('assets/images/emptyStar.png') width="20")
          i {{item.votes.length}}
        template(v-else)
          img(v-on:click="addVote(item.id)" src=require('assets/images/emptyStar.png') width="20")
          i {{item.votes.length}}
          
      td(v-on:click="clickList(item)")
        div(class='view') {{item.name}}
        div(v-if ="(item.user_id == userId || list.listUserId == userId) && list.state == true" class='edit') 
          input(type="text" name="editName" v-model="editName" v-bind:class="{ 'error': errorsVar.editNameError}")
        div(v-else class='edit') {{item.name}}

      td(v-on:click="clickList(item)")
        div(class='view') {{item.price}}
        div(v-if ="(item.user_id == userId || list.listUserId == userId) && list.state == true" class='edit') 
          input(type="number" name="editPrice" v-model.number="editPrice" v-bind:class="{ 'error': errorsVar.editPriceError}")

        div(v-else class='edit') {{item.price}}

      template(v-if ="(item.user_id == userId || list.listUserId == userId) && list.state == true")
        td
          div(class='view') 
            button(name= "delete_button" @click="deleteItem(item.id)") {{$t('delete')}}
          div(class='edit')
            button(name= "edit_button" @click="updateItem(item.id, editName, editPrice)") {{$t('edit')}}
            br
            button(name= "cancel_button" @click="updateItemCancel()") {{$t('cancel')}}
    tr
      br
    tr(v-if="list.state == true")
      td
      td
        p(v-for="error in errors") 
          template(v-if="error.startsWith('name')") 
            i {{error}}
        input(type="text" name="newName" id="newName" v-model="newName" placeholder="Nombre" v-bind:class="{ 'error': errorsVar.newNameError}")
      td
        p(v-for="error in errors") 
          template(v-if="error.startsWith('price')") 
            i {{error}}
        input(type="text" name="newPrice" id="newPrice" v-model="newPrice" placeholder="Precio" v-bind:class="{ 'error': errorsVar.newPriceError}")
      td
        #input(type="button" name="save_button" value="$t('add')" @click="addItem()")
        button(name="save_button" value="$t('add')" @click="addItem()") {{$t('add')}}

  pagination-component(@dataTable="showListItems()" v-bind:pagination="pagination")
